body {
    color: black;
};

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 3px;
    background: limegreen;
    font-size: 3rem;
    min-width: 70 rem;
};

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5 rem 1.5 rem 0 linen;
};

.choice-prefix{
    padding: 2rem;
    width: 100%;
};

.correct {
    background: mediumseagreen;
}

.incorrect {
    background: red;
};

#hud {
    display: flex;
    justify-content: space-between;
};

.hud-prefix {
    text-align: center;
    font-size: 2rem;
};

.hud-main-text {
    text-align: center;
};

@media screen and (max-width: 750px) {
    .choice-container {
        min-width: 30rem;
    };
};